name: docker-compose-actions-workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose up -d
      - uses: satak/webrequest-action@master
        with:
          url: http://142.28.1.1:5001/
          method: GET
